* {
  color: rgb(87, 87, 89);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
  opacity: 0.4;
}

img:hover {
  opacity: 0.8;
}

.container {
  margin: auto;
  padding: 8px;
}

h1 {
  text-align: center;
}

.paragraphs {
  margin: auto;
  padding: 4px;
}

footer {
  display: flex;
  justify-content: space-evenly;
  height: 4rem;
  right: 0;
  bottom: 0;
  left: 0;
}
